@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 300 to 700 */
/* 
.teko-medium {
    font-family: "Teko", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
*/
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

/* <uniquifier>: Use a unique and descriptive class name*/

.league-gothic-regular {
  font-family: "League Gothic", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}